@use "./abstract/variaveis";
@use "./abstract/mixins";
@use "./abstract/reset";

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
