@use "./abstract/variaveis" as var;
@use "./abstract/mixins" as mix;
@use "./abstract/reset";

@use "/src/styles/components/input";

@use "/src/styles/layouts/aside";
@use "/src/styles/layouts/form";

@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Leckerli+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 820px;
  padding: 20px;
  gap: 20px;
  background-color: var.$shape-bg;
}
